body {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th{
    border: 0;
}

.table>tbody>tr>td:nth-child(3), .table>tbody>tr>th:nth-child(3),.table>tbody>tr>td:nth-child(1), .table>tbody>tr>th:nth-child(1){
    width: 20%;
}

.table>tbody>tr>td:nth-child(2), .table>tbody>tr>th:nth-child(2){
    width: 60%;
}

#content{
    margin-top: 60px;     
}

.border-bottom{
    border-bottom: 1px solid #E7E7E7;
}
.section-title{
    color: rgba(14,122,254,1);
}

h1, h2, h3, h4, h5{
    margin: 0 ;
    font-weight: 300;
}

strong{
    font-weight: 500;
}

.myname{
    margin: 0;
    font-weight: 300;
}